<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> muse | profile </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body style="background-color: #f8e9ec;">
<!-- navbar code -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-muse-action">
        <a href="/" class="navbar-brand" id="muse-home">
            <img id="muse-logo" th:src="@{/img/Two_connected_Happy_Eighth_Notes.svg}" src="/img/Two_connected_Happy_Eighth_Notes.svg" alt="muse logo" width="50" height="45"
                 class="d-inline-block align-top" />
            <span class="text-center" id="muse-font">muse</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu"
                aria-controls="toggleMobileMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="div collapse navbar-collapse" id="toggleMobileMenu">
            <ul class="navbar-nav ms-auto text-center" id="navbar-ul">

                <li id="login">
                    <a class="nav-link" th:href="@{/login}">login</a>
                </li>
                <li id="logout">
                    <a class="nav-link" th:href="@{/logout}">logout</a>
                </li>
                <li id="register">
                    <a class="nav-link" th:href="@{/register}">register</a>
                </li>
                <li id="upload">
                    <a class="nav-link" href="#">upload</a>

            </ul>
            <form class="d-flex" id="search">
                <input class="form-control me-2" type="search" placeholder="search..." aria-label="Search">
                <button class="btn btn-outline-warning" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
<!-- end of navbar code -->
<div class="row text-center mt-2 ">
            <div class="col-lg-6 align-self-lg-center">
                <img class="rounded-circle border border-5 border-warning" alt="profile-pic" id="profile-pic"
                    th:src="@{/img/hoodie-square.png}" src=""  data-holder-rendered="true">

                <h4 class="my-2 bo fw-bolder" id="userName">username goes here</h4>




            </div>
            <div class="col-lg-6 align-self-lg-center embed-responsive-item  ">
                <h5 class="fw-bolder"> featured video</h5>

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/hAQVS_l9k_k"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>

        </div>
        <div class="row text-center justify-content-center mt-4">
            <div class="col-lg-9 text-center mt-4">
                <h3 id="f-artists"> user info:</h3>
                <h3 id="userBio"> bio goes here</h3>
                <h3 id="email"> email goes here</h3>

<!--                <table class="table table-responsive-sm" id="fav-artists">-->
<!--                    <thead class="thead-dark">-->
<!--                        <tr>-->
<!--                            <th scope="col">#</th>-->
<!--                            <th scope="col">Artist Name</th>-->
<!--                            <th scope="col">Twitter Handle</th>-->
<!--                        </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                        <tr>-->
<!--                            <th scope="row">1</th>-->
<!--                            <td>JPEGMAFIA</td>-->

<!--                            <td>-->
<!--                                <a href="https://twitter.com/jpegmafia">@JPEGMAFIA</a>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th scope="row">2</th>-->
<!--                            <td>454</td>-->

<!--                            <td>-->
<!--                                <a href="https://twitter.com/SQVXLLS">@SQVXLLS</a>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th scope="row">3</th>-->
<!--                            <td>ZelooperZ</td>-->

<!--                            <td>-->
<!--                                <a href="https://twitter.com/ZelooperZ">@ZelooperZ</a>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                    </tbody>-->
<!--                </table>-->

            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
        <script th:src="@{/js/profile.js}"></script>

</body>

</html>